:root {
    --clr-primary-200: #F3EED9;
    --clr-primary-400: #824936;


    --clr-nuetral-100: #FFF;
    --clr-nuetral-900: #222C2A;


    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Dispaly', serif;

}


*,
*::before,
::after {
    box-sizing: border-box;

}

body {
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 1.3125rem;
    line-height: 1.6;


}

body,
h1,
h2,
h3,
p {
    margin: 0;
}


h1,
h2,
h3 {
    line-height: 1;
    font-family: var(--ff-accent);
    font-weight: 900;
    margin-bottom: 1em;
    color: var(--clr-primary-400);

}

h2, 
h3,
p {
    margin-bottom: 1em;
}

.languages {
    display: block;
    max-width: 100%;

}

.icons {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
}

.icons i {
    margin: 1rem;
}

.text-center {
    text-align: center;
}


header,
section {
    padding: 3rem 0;
}

@media (min-width: 40em) {
    header,
    section {
        padding: 4rem 0;
    }
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);

}

.split {
    display: flex;
    flex-direction: column;
}




@media (min-width:40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
    h3 {
        font-size: 1.2rem;
    }



}



@media (max-width: 30em) {
    a {
        margin-top: 1em;
        font-size: .8em;
    }
    h3 {
        margin-top: 1em;
    }

    .split-projects {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        margin: 1em;
        padding: 1em;
    }

    .project {
        margin: 0px;
        padding: 0px;
}
    
    .project-images-children {
        display: block;
        max-width: 95%;
        
    }

    .split-projects {
        margin: 0px; 
        padding: 0px;
    }

}


.container--narrow {
    max-width: 34rem;
}

.bg-light {
    background-color: var(--clr-primary-200)
}


.bg-primary {
    color: var(--clr-nuetral-100);
    background-color: var(--clr-primary-400)
}

.bg-dark{
    color: var(--clr-nuetral-100);
    background-color: var(--clr-nuetral-900)
}

.bg-primary h2,
.bg-dark h2 {
    color: var(--clr-primary-200);
}


.archives-button {
    border: 0.2rem solid #824936;
    padding: 1rem;
    text-decoration: none;
    color: #824936;
    border-radius: 3rem;
}

.archives-button:hover {
    
}

.split-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.project {
    background-color: var(--clr-primary-200);
    margin: 1.5em .25em 1.5em .25em;
    padding: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img {
    display: block;
    max-width: 100%;
    
}

.archives-link {
    margin-top: 1em;
}

.project-image {
    display: flex;
    justify-content: center;
    padding: .5em;
    margin: .2em;
    max-width: 100%;
}

.project-images-children {
    border-radius: 5px;
}